/* Default e utility */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.flex{
  display: flex;
}
.circle{
  border-radius: 50%;
}
.bl-strong{
  font-weight: bold;
}
.colored-dark-grey{
  color: #717171;
}
.colored-white{
  color: #fff;
}
.no-deco{
  list-style: none;
  text-decoration: none;
}
/* /Default e utility */

/* Layout container and parts */
.wrapper{
  height: 100vh;
  width: 100vh;
  max-width: 100%;
  position: relative;
}
.container{
  height:calc(100% - 90px);
  width: 100vw;
}
.sidebar{
  width: 250px;
  height: 100%;
  overflow-y: hidden;
  background-color: #000;
}
.main{
  height: 100%;
  width: calc(100% - 250px);
  overflow-y: auto;
  background-color: #141922;
}
.player-sec{
  width: 100vw;
  height: 90px;
  background-color: #282828;
  position: absolute;
  align-items: center;
}
/* /Layout container and parts */

/* Sidebar style */
.sidebar-content{
  height:100%;
  width: 100%;
  flex-direction: column;
}
.sidebar-content li:hover a{
  color: #fff;
  font-weight: bold;
}

/* first menu,logos */
.menu-one{
  flex-direction: column;
  height: calc(100% - 80px)
}
.home{
  margin-bottom: 20px;
}
.home-ico{
  border-left: 2px #ADFF2F solid;
}
.home li:hover{
  border-left: 2px #ADFF2F solid;
}
.home li:hover:first-child{
  border-left:none;
}
.home li,.playlist li{
  padding: 5px 10px;
}
.home li img{
  width: 25px;
  vertical-align: middle;
}
.home li.logo img{
  width: 150px;
  margin-bottom: 10px;
}
.phone-logo{
  display: none;
}
/* /first menu,logos */

/* playlist,list */
.playlist button{
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-bottom: 10px;
}
.playlist li:nth-child(2) i{
  font-size: 25px;
}
.playlist{
  overflow-y: auto;
}
/* /playlist,list */

/* Second menu,download and user */
.menu-two ul{
  padding: 0px 5px;
}
.menu-two li{
  padding: 10px;
}
.menu-two{
  height: 80px;
}
.menu-two li:nth-child(2){
  border-top: 1px #fff solid;
}
.menu-two li img{
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.menu-two li:nth-child(2) img{
  background-color: #717171;
}
/* /Second menu,download and user */
/* /Sidebar style */

/* Main part */
/* main part header */
.head-bar{
  width: 100%;
  height: 90px;
  background-color: #080B12;
}
.upgrade{
  justify-content: flex-end;
  padding: 10px 20px;
}
.upgrade div{
  padding: 10px;
  border: 1px #fff solid;
  text-align: center;
  border-radius: 20px;
}
.upgrade div:hover{
  padding: 15px;
}
/* /main part header */

/* main part nav */
nav{
  height: 50px;
  width: 100%;
  background-color: #141922;
}
nav ul{
  text-align: center;
}
nav ul>li{
  display: inline-block;
  padding:10px 10px;
  cursor: pointer;
}
nav ul>li:hover{
  border-bottom: 2px #ADFF2F solid;
  color: #fff;
}
/* /main part nav */

/* main part block artist */
.main-block{
  width: 100%;
  padding-top: 20px;
}
.play-hover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/player.png");
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
}
.cover:hover .play-hover{
  display: block;
}
.artist-zone{
  width: 100%;
  text-align:center;
}
.one,.artist-zone{
  flex-wrap: wrap;
}
.radar,.mixdaily,.youg,.einaudi,.cover{
  margin: 0px 15px;
}
.artist-zone img{
  width: 100%;
  vertical-align: middle;
}
.cover{
  width: calc((100% / 6)* 1 - 30px);
}
.image-container{
  position: relative;
}
.main-head h4,.main-head h2{
  margin:5px 0px 20px 15px;
}
.main-head h2{
  font-size: 35px;
}
.main-head h4,.title-song h3{
  font-size: 16px;
}
.artist-zone h4,.artist-zone h3{
  margin: 10px 0px;
}
.main-block:last-child{
  padding-bottom: 100px;
}
/* main part block artist */

/* bottom player */
.left-player img{
  height: 60px;
  margin:0px 10px;
}
.little-cover,.title-song,.love-store{
  display: inline-block;
  vertical-align: middle;
}
.title-song h4{
font-size: 12px;
}
.title-song h3:hover,.title-song h4:hover{
  text-decoration: underline;
}
.love-store{
  margin-left: 40px;
}
.love-store i,.right-player i{
  padding: 10px;
  font-size: 20px;
}
.love-store i:hover,.right-player i:hover{
  transform: scale(1.2);
}
.center-player-controls i{
  padding:0px 20px;
  font-size: 25px;
  margin-bottom: 15px;
}
.center-player-controls .fa-play-circle-o{
  font-size: 35px;
}
.center-player-controls{
  text-align: center;
}
.player-line{
content: "";
height: 5px;
width: 300px;
background-color: #5A5A5A;
display: inline-block;
position: relative;
bottom: 5px;
border-radius: 10px;
}
.right-player .player-line{
  margin-right: 5px;
  width: 100px;
}
.progression-bar{
  height: 100%;
  width: 20%;
  background-color: #C1C1C1;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
}
.progression-bar div{
  position: absolute;
  height: 15px;
  width: 15px;
  right: 0px;
  top: 50%;
  transform: translate(50%,-50%);
  background-color:#C1C1C1;
  display: none;
}
.fa-play-circle-o:hover{
  transform: scale(1.2);
}
.player-line:hover .progression-bar{
  background-color: #ADFF2F;
}
.player-line:hover .progression-bar div{
  display: inline-block;
}
.right-player .player-line .progression-bar{
 width: 70%;
}
.phone-specs{
  display: none;
}
.left-player,.right-player{
  width: 20%;
}
.center-player{
  width: 60%;
}
/* bottom player */
@media (max-width: 1373px){
  .love-store{
    margin-left: 10px;
    width: 40px;
  }
  .right-player i{
    padding: 3px;
    font-size: 18px;
  }
  .right-player .player-line{
    width: 70px;
  }
}
@media (max-width: 992px) {

  .cover{
  width: calc((100% / 4)* 1 - 30px);
  }
  .player-line{
    margin: 0px;
    width: 200px;
  }
  .left-player img{
    height: 40px;
    margin:0px 5px;
  }
  .center-player-controls .fa-play-circle-o{
    font-size: 30px;
  }
  .love-store{
    margin-left: 0px;
    width: 10px;
  }
  .title-song h3{
  font-size: 12px;
  }
  .title-song h4{
  font-size: 10px;
  }
  .center-player span{
    font-size: 14px;
  }
  .main{
    font-size: 0.8em;
  }
  .main-head h2{
    font-size: 30px;
  }
  .upgrade div{
      padding: 10px;
  }
  nav ul>li{
    padding-top: 10px;
  }
  .love-store i,.right-player i{
    padding: 0px 3px;
    font-size: 15px;
  }
}


@media (max-width: 768px) {

  .cover{
  width: calc((100% / 2)* 1 - 30px);
  }
}
@media (max-width: 576px) {

  .sidebar{
    width: 10%;
  }
  .main{
    height: 100%;
    width: 90%;
  }
  .playlist{
    overflow-y:hidden;
  }
  .sidebar-content{
    overflow-y: auto;
  }
  .sidebar-content li a,.logo,.playlist li a,.playlist-title,button{
    display: none;
  }
  .sidebar-content li{
  text-align: center;
  }
  .phone-logo{
    display: block;
  }
  .player-line{
    width: 150px;
    margin: 0px;
  }
  .right-player .player-line{
   display: none;
  }
  .right-player:hover .player-line{
   display: inline-block;
  }
  .left-player img{
    height: 30px;
    margin:0px 5px;
  }
  .center-player-controls i{
    padding:0px 10px;
  }
  .love-store i,.right-player i{
    padding: 0px 3px;
  }
  .phone-specs{
    display: block;
  }
  .menu-two ul{
    padding: 0px 0px;
  }
  .home li,.playlist li,.menu-two li{
    padding: 5px 0px;
  }
  .center-player span{
    font-size: 10px;
  }
  .cover{
    width: calc((100% / 2)* 1 - 30px);
  }

}
@media (max-width: 400px){
  .center-player-controls i{
    padding:0px 3px;
    font-size: 15px;
  }
  .love-store,.fa-volume-up{
    display: none;
  }
  .title-song{
    margin-left: 5px;
  }
}
/* end version checked */
/* =^-^= */
